.info-container{
    position:relative;
    left:300px;
    top:80px;
    display:grid;
    grid-row-gap:0.5rem;
    background-color: rgba(186, 195, 230, 0.466);
    padding:30px;
    width:65vw;
    border-radius:15px;
} 

.row1{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
}

.row2{
    display:grid;
    grid-template-columns: 1fr 4fr;
    margin:10px;
}
.row3{
    display:grid;
    grid-gap:2px;
    grid-template-columns: repeat(9, 1fr);
    margin:10px;
}
.row3{
    margin: 10px;
}
.field{
    background-color: white;
    padding:3px;
    margin: 5px;
    border-radius: 5px;
} 

.tag{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.781);
    padding:1px;
    text-align: center; 
} 
